
@media screen and (max-width:600px){
    nav div{
        display: flex;
        align-items: center;
    }
    .collection{
        display: none;
    }
    #menu{
        display: block;
        margin-left: 18px;
    }
    nav div{
        display: flex;
        align-items: center;
    }
    .icon i{
        display: none;
    }
    .fall{
        display: block;
    }
    .img{
        width: 100%;
    }
    .our{
        margin-top: 77%;
    }
    .tit{
        transform: translateX(-80px);

    }
    .our h2{
        transform: translateX(-80px);


    }
    .our h1{
        font-size: 17px;
        transform: translateX(-50px);
    }
    .our p{
        font-size: 17px;

    }
    .power{
        margin-top: 175%;
        transform: translateX(-50px);

    }
    .germa img{
        width: 20%;
        height: 20%;
    }
    .power_text{
        margin-top: 85%;
    }
    .power_text h1{
        font-size: 25px;
        transform: translateX(-60px);
    }
    .power_text p{
        width: 57%;
        font-size: 18px;
        transform: translateX(-30px);
    }
    .some_text{
        font-size: 8px;
        margin-top: 65%;
        width: 40%;
        transform: translateX(-25%);
    }
    .rasm_1{
        margin-left: 25%;
    }
    .rasm_2{
        margin-top: 25%;
    }
    .rasm_3{
        margin-top: 25%;
    }
  .rasmlar{
    display: inline;
  }
  .rasm_4{
    margin-left: 25%;
    margin-top: 25%;

}
.rasm_5{
    margin-top: 25%;
}
.rasm_6{
    margin-top: 25%;
}
.rasmlar_2{
display: inline;
}
.rasm_1{
width: 20%;    
}
.rasm_2{
    width: 25%;
}
.rasm_3{
    width: 25%;

}
.rasm_4{
    width: 25%;

    
}
.rasm_5{
    width: 25%;

}
.rasm_6{
    width: 25%;

}
.rasm_2{
    width: 25%;

}
.rasm_3{
    width: 25%;

}
  
}